# Xcode
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build outputs
*.ipa
*.dSYM.zip
*.dSYM
ipa_payload/

# Node / Electron (Phase 2)
node_modules/
dist/
out/
.cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# SPM
.build/
.swiftpm/
Package.resolved

# Secrets
*.p12
*.mobileprovision
.env
.env.local
